.social {
    display: flex;
    align-items: center;
    gap: 16px;

    .social__item {
        width: 24px;
        height: 24px;
    }
}

.item {
    perspective: 800px;

}

.item a {
    width: 24px;
    height: 24px;
    display: inline-block;
    transition: transform 0.8s ease, filter 0.3s ease;
    transform-style: preserve-3d;
}

.item a:hover {
    transform: rotateY(360deg) scale(1.1);
    filter: brightness(2);
}