.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
}


.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    gap: 5vw;
}