.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;

    position: relative;
}

.img {
    width: 100%;

}

.textBlock {
    width: 100%;

}

.label {
    font-weight: 500;
    font-size: clamp(16px, 4vw, 22px);
    margin-bottom: 10px;

}

.text {
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 200;

}

.link {
    text-decoration: none;
    color: white;
}

.star {
    z-index: 1001;
    position: absolute;
    top: 10%;
    left: -10%;


    background-color: red;

    width: 100px;
    height: 100px;
}