.page {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    padding-inline: 20px;
    margin-block: 200px;
    gap: 5vw;


    @media (max-width:900px) {
        padding-inline: 10px;

    }
}

.case {
    padding-inline: 30vw;

    @media (max-width:900px) {
        padding-inline: 10vw;

    }

    @media (max-width:425px) {
        padding-inline: 5vw;

    }
}

.error {
    font-size: 24px;
    color: var(--accent-color);
}

.loading {
    font-size: 18px;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 50px;
    min-width: 300px;
    text-align: center;

    background-color: #e0e0e0;
    color: gray;

    cursor: not-allowed;
}