:root {
  --color2: rgba(146, 115, 152, 1);
  --color3: rgba(106, 78, 112, 1);
  --color4: rgba(80, 54, 85, 1);
  --color5: rgba(59, 35, 65, 1);
  --accent-color: rgba(242, 92, 58, 1);
  --accent-colo2: rgba(255, 133, 45, 1);
  --accent-colo3: rgba(227, 67, 45, 1);
  --opacity2: rgba(146, 115, 152, 0.5);
  --background: rgba(47, 22, 52, 1);
}

html,
body {
  max-width: 100%;

  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: rgba(47, 22, 52, 1);
  background-image: url(/Desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  font-family: var(--font-CeraPro);
  font-weight: 400;
  color: white;
}


button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: clamp(26px, 2.73vw + 17.27px, 50px);
  text-transform: uppercase;

}

h3 {
  font-size: clamp(18px, 3vw, 22px);
}

input,
textarea {
  background-color: transparent;
  border: none;
  font-family: var(--font-CeraPro);


  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}