.label {
    font-size: clamp(26px, 2.73vw + 17.27px, 50px);
    margin-bottom: 50px;

    @media (max-width:900px) {
        margin-bottom: 66px;
    }

    @media (max-width:600px) {
        margin-bottom: 30px;
    }
}

.content {
    display: flex;
    gap: 10%;

}

.item {
    max-width: 40%;

    @media (max-width:870px) {
        max-width: none;
    }

}

.description {
    margin-bottom: 35px;

}

.roadMap {
    @media (max-width:870px) {
        display: none;
    }
}

.roadMapMobile {
    display: none;

    @media (max-width:870px) {
        display: block;
        margin-bottom: 15px;
    }
}



.desktopButton {

    @media (max-width:425px) {
        width: 100%;
    }

}

.mobileButton {
    display: none;

    @media (max-width:600px) {
        display: block;
    }


}