.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;


}

.buttonList {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.img {}

.mainImg {
    width: 100%;
    height: 100%;

}