:root {
  --color2: rgba(146, 115, 152, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;


  background-color: rgba(47, 22, 52, 1);
  background-image: url(/Desktop.png);
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}