.header {
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 20px 30px;
    border-bottom: 2px solid rgba(146, 115, 152, 0.2);


    @media (max-width: 900px) {
        padding: 15px 20px;
    }

    @media (max-width:535px) {
        align-items: center;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: url('/Desktop.png');
        background-size: cover;
        background-position: start;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }

    &.active {
        transition: background-color 300ms ease-in-out;
        background-color: var(--background);
        background-image: none;
    }

    &.active::before {
        opacity: 0;
    }

}


/* Навигация */
.nav {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 950px) {
        gap: 30px;
    }

    @media (max-width: 600px) {
        gap: 60px;
    }

    @media (max-width: 575px) {
        gap: 20px;
        margin-right: 5px;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 950px) {
        gap: 29px;
    }

    @media (max-width: 535px) {
        display: none;
    }

    .nav__item {
        text-wrap: nowrap;
        color: var(--color2);
        transition: ease-in-out 300ms;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.nav__logo {

    @media (max-width: 1060px) {
        width: 165px;
        height: 40px;
    }

    @media (max-width: 650px) {
        display: none;
    }

    @media (max-width: 535px) {
        display: block;
        width: 145px;
        height: 35px;
    }
}

.nav__logoMobile {
    display: none;

    @media (max-width: 650px) {
        display: block;
    }

    @media (max-width: 425px) {
        display: none;
    }

    @media (max-width: 535px) {
        display: none;
    }
}



/* Конакты */
.contacts {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width:1050px) {
        gap: 20px;
    }
}



/* Социальные сети */
.social {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width:1370px) {
        display: none;
    }
}

/*Написать нам на почту */
.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 15px 30px;

    transition: ease-in-out 300ms;

    &:hover {
        scale: 1.05;
    }

    @media (max-width:535px) {
        display: none;
    }

    @media (max-width: 1200px) {
        padding: 11px 16px;
    }

    .mail__item_desktop {
        font-size: 14px;
        width: 100%;
        text-wrap: nowrap;


        @media (max-width:1200px) {
            display: none;
        }

    }

    .mail__item_tablet {
        display: none;

        @media (max-width:1200px) {
            display: block;
        }
    }


}

/* Позвонить нам */
.phone {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    @media (max-width:750px) {
        display: none;
    }

    @media (max-width:535px) {
        display: block;
    }

    &:hover {
        .phone__text::after {
            width: 100%;
            opacity: 1;
        }

        img {
            animation: shake 0.5s ease;
        }
    }


    .phone__text {
        text-wrap: nowrap;
        position: relative;

        @media (max-width:850px) {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 0;
            height: 1px;
            scale: 1.2;
            background-color: white;
            transition: width 0.3s ease, opacity 0.3s ease;
            opacity: 0;
        }
    }

}



@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}