/* TODO добавить position fixed */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 20px 30px;
    border-bottom: 2px solid rgba(146, 115, 152, 0.2);

    @media (max-width: 900px) {
        padding: 15px 20px;
    }

    @media (max-width: 600px) {
        gap: 9vw;
    }

}

/* Бургер меню */
.burgerMenu {
    display: none;

    @media (max-width: 525px) {
        display: block;
    }
}

/* Навигация */
.nav {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 950px) {
        gap: 30px;
    }

    @media (max-width: 600px) {
        gap: 60px;
    }

    @media (max-width: 575px) {
        gap: 20px;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 950px) {
        gap: 29px;
    }

    @media (max-width: 525px) {
        display: none;
    }

    .nav__item {
        text-wrap: nowrap;
        color: var(--color2);
        transition: ease-in-out 300ms;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.nav__logo {

    @media (max-width: 1060px) {
        width: 165px;
        height: 40px;
    }

    @media (max-width: 650px) {
        display: none;
    }

    @media (max-width: 525px) {
        display: block;
        width: 145px;
        height: 35px;
    }
}

.nav__logoMobile {
    display: none;

    @media (max-width: 650px) {
        display: block;
    }

    @media (max-width: 425px) {
        display: none;
    }

    @media (max-width: 525px) {
        display: none;
    }
}



/* Конакты */
.contacts {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width:1050px) {
        gap: 20px;
    }
}



/* Социальные сети */
.social {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width:1370px) {
        display: none;
    }
}

/*Написать нам на почту */
.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 15px 30px;

    @media (max-width:525px) {
        display: none;
    }

    .mail__item_desktop {
        font-size: 14px;
        width: 100%;
        text-wrap: nowrap;


        @media (max-width:1200px) {
            display: none;
        }

    }

    .mail__item_tablet {
        display: none;

        @media (max-width:1200px) {
            display: block;
        }
    }


    @media (max-width: 1200px) {
        padding: 11px 16px;
    }
}

/* Позвонить нам */
.phone {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width:750px) {
        display: none;
    }

    @media (max-width:525px) {
        display: block;
    }

    .phone__text {
        text-wrap: nowrap;

        @media (max-width:850px) {
            display: none;
        }
    }

}