.columns {
    display: flex;
    width: 90%;
    gap: 10%;


    @media (max-width: 768px) {

        flex-direction: column;
        gap: 100px;


    }
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;

}