.element {
    position: relative;
    right: 0;

}

.bubble {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    background-color: var(--color4);
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.text {
    position: relative;
    z-index: 1;
}

.triangle {
    position: absolute;
    top: 16px;
    left: -3px;
    transform: translateY(-50%) rotate(45deg);
    width: 14px;
    height: 14px;
    background-color: var(--color4);
    z-index: 0;
}