.container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;

    }

}

.label {
    text-wrap: nowrap;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    flex: 1;
    min-width: 0;
    width: 100%;
    gap: 40px;
}

.btnDesktop {

    @media (max-width: 1200px) {
        display: none;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @media (max-width: 1200px) {
        flex-direction: row;
        gap: 15px;
        justify-content: space-between;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
        width: 100%;


    }
}

.img {
    flex-shrink: 0;
    width: 770px;
    height: auto;

    @media (max-width: 1200px) {

        width: 100%;
    }
}

.btnMobile {
    display: none;

    @media (max-width: 1200px) {
        display: flex;
        width: 100%;
        align-items: start;

    }
}