.aside {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    width: 58vw;

    background-color: var(--color5);

    position: fixed;
    top: 72px;
    left: 0;
    height: calc(100vh - 67px);
    padding: 30px 15px;

    /*  */
    transition: transform 0.3s ease;
    transform: translateX(-100%);

    @media (min-width: 550px) {
        display: none;
    }

    @media (max-width: 425px) {
        top: 67px;
    }
}

.aside.active {
    transform: translateX(0);
    box-shadow: 8px 0 10px -5px rgba(0, 0, 0, 0.55);

}

/* спец */
.activeLink.activeLink {
    position: relative;
    color: white;

    &::before {
        content: '';
        position: absolute;
        height: 22px;
        width: 5px;
        background-color: var(--accent-color);

        top: 50%;
        left: -14px;
        transform: translateY(-50%);
    }
}

.nav__list {
    gap: 29px;
    display: flex;
    flex-direction: column;
}

.nav__item {
    text-wrap: nowrap;
    color: var(--color2);
    transition: ease-in-out 300ms;
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 158px;
    gap: 12px;
}


.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 15px 30px;
    text-wrap: nowrap;
    font-weight: 500;
}

/* Позвонить нам */
.phone {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
        .phone__text::after {
            width: 100%;
            opacity: 1;
        }

        img {
            animation: shake 0.5s ease;
        }
    }

    .phone__text {
        text-wrap: nowrap;
        position: relative;
        font-size: 14px;
        font-family: (--font-CeraPro);
        font-weight: 400;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 0;
            height: 1px;
            scale: 1.2;
            background-color: white;
            transition: width 0.3s ease, opacity 0.3s ease;
            opacity: 0;
        }
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}