.aside {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    width: 58vw;

    background-color: var(--color5);

    position: fixed;
    top: 72px;
    left: 0;
    height: calc(100vh - 67px);
    padding: 30px 15px;

    transition: transform 0.3s ease;
    transform: translateX(-100%);

    @media (min-width: 550px) {
        display: none;
    }

    @media (max-width: 425px) {
        top: 67px;
    }
}

.aside.active {
    transform: translateX(0);
    box-shadow: 8px 0 10px -5px rgba(0, 0, 0, 0.55);

}


.activeLink.activeLink {
    position: relative;
    color: white;
    /* 
    &::before {
        content: '';
        position: absolute;
        height: 22px;
        width: 5px;
        background-color: var(--accent-color);

        top: 50%;

        left: -14px;
        transform: translateY(-50%);
    } */
}

.indicator {
    position: absolute;
    left: -14px;
    width: 4px;
    background-color: var(--accent-color);
    transition: top 0.3s ease, height 0.3s ease;
}

.nav__list {
    position: relative;
    gap: 29px;
    display: flex;
    flex-direction: column;
}

.nav__item {
    text-wrap: nowrap;
    color: var(--color2);
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 158px;
    gap: 12px;
}


.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 15px 30px;
    text-wrap: nowrap;
    font-weight: 500;
}