.line {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;


    padding-top: 5px;
    padding-bottom: 25px;

    @media (max-width:870px) {
        margin-bottom: 30px;
    }

    @media (max-width:425px) {
        gap: 15px;
    }
}

.line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 85px;
    width: 2px;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}