.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color5);
    padding: 30px 0px;

    @media (max-width:1200px) {
        padding: 30px 40px;

    }

    @media (max-width: 900px) {
        padding: 15px 20px;

    }
}

.container {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:600px) {
        gap: 99px;
    }

    @media (max-width:560px) {
        gap: 0;
    }
}



.logo {
    display: block;

    @media (max-width:600px) {
        display: none;
    }
}

.logoMobile {
    display: none;

    @media (max-width:600px) {
        display: block;
    }

}


.text_desktop {
    color: var(--color2);
    font-size: 14px;

    @media (max-width:900px) {
        display: none;
    }
}

.text_tablet {
    color: var(--color2);
    font-size: 14px;
    display: none;

    @media (max-width:900px) {
        display: block;
    }

    @media (max-width:560px) {
        display: none;
    }
}

.text_mobile {
    display: none;
    color: var(--color2);
    font-size: 11px;

    @media (max-width:560px) {
        display: block;

    }
}

/* Блок навигации и ссылок */
.nav {
    display: flex;
    align-items: center;
    gap: 49px;

    @media (max-width:768px) {
        gap: 39px;
    }

    @media (max-width:560px) {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

}

/* Соц сети */
.social {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Номер телефона */
.phone {
    display: flex;
    align-items: center;
    gap: 21px;

    .phone__text {
        font-size: 18px;
        color: var(--color2);
        text-wrap: nowrap;
    }
}