.container {
    padding-left: 20px;
    display: block;
    cursor: auto;
}


.mailBlock {
    position: relative;
}

.img {
    position: absolute;
    top: 3px;
    left: -20px;

}


.mail {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;

        left: 0;
        width: 100%;
        height: 1px;

        /* Делаю подчеркивание */
        background-image:
            repeating-linear-gradient(to right,
                rgba(255, 255, 255, 0.4),
                rgba(255, 255, 255, 0.4) 5px,
                transparent 5px,
                transparent 10px);

        transition: opacity 0.3s ease;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--accent-color);

        transition: width 0.4s ease;
        pointer-events: none;
    }

    &:hover {
        &::before {
            width: 100%;
        }

        &::after {
            opacity: 0;
        }
    }



    @media (max-width:425px) {
        font-size: 13px;
    }
}

.text {
    color: var(--color2);
    font-size: 14px;
    width: 100%;

    @media (max-width:425px) {
        font-size: 11px;
    }
}