.container {
    position: relative;

    &:hover .hoverWindow,
    &:active .hoverWindow,
    &:focus-within .hoverWindow {
        transition: scale ease-in-out 300ms, opacity ease-in-out 300ms;
        scale: 1;
        opacity: 100%;
    }

}

.item {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    /* воняет */
    padding-top: 10%;
    padding-bottom: 7%;

    gap: 25px;

    border: 2px solid var(--color4);
    font-size: clamp(14px, 2vw + 8px, 28px);
    text-wrap: nowrap;
    font-weight: 700;

    transition: background-color ease-in-out 300ms;

    &:hover {
        background-color: var(--color4);
        transition: background-color ease-in-out 300ms;
    }

    @media (max-width:600px) {
        gap: 15px;
    }
}

.hoverWindow {
    z-index: 100;
    transition: scale ease-in-out 300ms, opacity ease-in-out 300ms;
    scale: 0.5;
    /* опасити 0 */
    opacity: 0%;

    top: 100%;
    transform-origin: top center;

}

.img {

    @media (max-width:900px) {
        width: 75px;
        height: 75px;
    }

    @media (max-width:600px) {
        width: 50px;
        height: 50px;
    }

}